h1{
    text-align: center;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.score-tracker{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.your-score,.computer-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
}

.your-score{
    background-color: lightgreen;
}

.computer-score{
    background-color: coral;
}

.options{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;

}

.options button{
    width: 30%;
    height: 50px;
}

.btn:hover{
    opacity: 70%;
}


#rock{
    background-color: lightblue;
}

#paper{
    background-color: pink;
}

#scissors{
    background: yellow;
}

.selection{
    text-align: center;
    font-size: 125%;
}

.box-result{
    border: 2px black solid;
    padding: 5px;
    
}